<h1>uma</h1>
<h3>一覧uma</h3>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"horses",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>



<%= link_to "新規投稿へ", new_horse_path %> 
<div class="horses-container">
  <% @horses.each do |t| %>
    <div class="horse">
      <%= t.name %>
      <%= t.uma_id %>
      <%= t.year %>
      <%= t.image %>
      <%= t.about_uma %>
      <%= t.about_race %>
      <%= t.sex %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>

      <%= link_to t.user.name, user_path(t.user.id) %>
       

  <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to horse_like_path(id: t.id, horse_id: t.id), method: :delete do %>
              <p>いいねを取り消す</p><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to horse_likes_path(id: t.id, horse_id: t.id), method: :post do %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
  <% end %>

  <%= t.created_at %>
     <%= link_to "詳細へ", horse_path(t.id) %>
     <% if user_signed_in? && current_user.id == t.user_id %>
     <%= link_to "編集する", edit_horse_path(t.id) %>
      <%= link_to "削除する", horse_path(t.id), method: :delete %>
      <% end %> 
    </div>
  <% end %>
</div>

<%= form_tag({controller:"horses",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>

<%= form_tag({controller:"horses",action:"index"}, method: :get) do %>
  <%= text_field_tag :tag %>
  <%= submit_tag 'タグを追加' %>
<% end %>